<script type="text/javascript">
  {% if cart %}
    window.pn.cart = {};
  	window.pn.cart = {{cart | json}}
    window.pn.cart.items = [];

    {% for item in cart.items %}
      var cart_item = {{item | json}};
      cart_item["collection_ids"] = [];
      {% for c in item.product.collections %}
        cart_item["collection_ids"].push({{c.id}})
        {% endfor %}
      window.pn.cart.items.push(cart_item);
    {% endfor %}

    if (typeof window.pn.cart.items == "object") {
      for (var i=0; i<window.pn.cart.items.length; i++) {
        ["sku", "vendor", "url", "image", "handle", "product_type", "product_description"].map(function(a) {
          delete window.pn.cart.items[i][a]
        })
      }
    }
  {% endif %}
</script>

{% raw %}
<script>
if(typeof pn === "undefined"){
  pn = {};
}
if(typeof pn.settings === "undefined"){
  pn.settings = {};
}
pn.settings.defaultSetting={"id":13328656,"a":"Preorder Now","b":true,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":null,"h":null,"i":false,"j":null,"k":null,"l":null,"m":"default","n":null,"o":true,"handle":null,"p":null,"y":null,"q":false,"r":false,"s":null,"t":null,"u":1,"v":false,"w":"ribbon","tag":null,"x":null,"z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0"};
pn.settings.singleProductSettings=[{"id":13374418,"a":"Preorder Now","b":true,"c":15,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"\u003cp class='font-bolder uppercase'\u003ePREORDER DELIVERY\u003c/p\u003e\u003cp class=\"small-p\"\u003eStock expected to arrive 21st December.\u003c/p\u003e","h":"below","i":false,"j":null,"k":null,"l":null,"m":"variant","n":"34430806098053","o":false,"handle":"hornit-mini-blue-and-green","p":"5114887405701","y":"https://cdn.shopify.com/s/files/1/0335/8801/9333/products/blue.jpg?v=1599641838","q":true,"r":false,"s":-19,"t":null,"u":1,"v":true,"w":"ribbon","tag":null,"x":"Pre-Order","z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0"},{"id":13374402,"a":"Preorder Now","b":true,"c":24,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"\u003cp class='font-bolder uppercase'\u003ePREORDER DELIVERY\u003c/p\u003e\u003cp class=\"small-p\"\u003eStock expected to arrive 21st December.\u003c/p\u003e","h":"below","i":false,"j":null,"k":null,"l":null,"m":"variant","n":"34430804885637","o":false,"handle":"hornit-mini-pink-and-turquoise","p":"5114886455429","y":"https://cdn.shopify.com/s/files/1/0335/8801/9333/products/pinktursmol.jpg?v=1606905110","q":true,"r":false,"s":-8,"t":null,"u":1,"v":true,"w":"ribbon","tag":null,"x":"Pre-Order","z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0"},{"id":13169640,"a":"Preorder Now","b":true,"c":155,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"\u003cp class='font-bolder uppercase'\u003ePREORDER DELIVERY\u003c/p\u003e\u003cp class=\"small-p\"\u003e18 Dec 2020. We hope to send your order (by next day delivery) on the 22nd or 23rd December due to a further delay at Southampton port, however we cannot guarantee delivery before Christmas.\u003c/p\u003e","h":"below","i":true,"j":"Pre-order","k":null,"l":null,"m":"variant","n":"34610606669957","o":false,"handle":"hornit-airo-candy-floss-pink","p":"5172412743813","y":"https://cdn.shopify.com/s/files/1/0335/8801/9333/products/SIDEsmall.jpg?v=1602173122","q":true,"r":true,"s":-8,"t":146,"u":2,"v":true,"w":"ribbon","tag":null,"x":"","z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0"},{"id":13126333,"a":"Preorder Now","b":true,"c":142,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"\u003cp class='font-bolder uppercase'\u003ePREORDER DELIVERY\u003c/p\u003e\u003cp class=\"small-p\"\u003e18 Dec 2020. We hope to send your order (by next day delivery) on the 22nd or 23rd December due to a further delay at Southampton port, however we cannot guarantee delivery before Christmas.\u003c/p\u003e","h":"below","i":true,"j":"Pre-order","k":null,"l":null,"m":"variant","n":"34610606702725","o":false,"handle":"hornit-airo-hammer-yellow","p":"5172412776581","y":"https://cdn.shopify.com/s/files/1/0335/8801/9333/products/7.SIDE-min-1-2-3.jpg?v=1602173102","q":true,"r":false,"s":-59,"t":242,"u":2,"v":true,"w":"ribbon","tag":null,"x":"","z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0"},{"id":13126335,"a":"Preorder Now","b":true,"c":372,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"\u003cp class='font-bolder uppercase'\u003ePREORDER DELIVERY\u003c/p\u003e\u003cp class=\"small-p\"\u003e18 Dec 2020. We hope to send your order (by next day delivery) on the 22nd or 23rd December due to a further delay at Southampton port, however we cannot guarantee delivery before Christmas.\u003c/p\u003e","h":"below","i":true,"j":"Pre-order","k":null,"l":null,"m":"variant","n":"34610606735493","o":false,"handle":"hornit-airo-hot-chilli-red","p":"5172412809349","y":"https://cdn.shopify.com/s/files/1/0335/8801/9333/products/airo-red.jpg?v=1602173139","q":true,"r":false,"s":-47,"t":420,"u":2,"v":true,"w":"ribbon","tag":null,"x":"Pre-Order","z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0"}];
pn.settings.tagSettings=[];
</script>
<style type="text/css">
  .pn-original-subtotal{
    text-decoration: line-through;
    display:inline-block;
  }
  .pn-discounted-subtotal{
    font-weight:bold;
    margin-left:20px;
    display:inline-block;
    font-size: 1.3em;
  }

  .pn-line-item-original-price {
    text-decoration: line-through;
  }

  .pn-line-item-discounted-price {
    font-size: 1.2em;
    margin-left: 8px;
  }
</style>
{% endraw %}


<div id="pn-mixed-cart-warning" class="pn-modal">
  <div id="pn-mixed-cart-warning-content">
    <span id="pn-modal-close-btn">x</span>
    <h2 id="pn-mixed-cart-warning-title"></h2>
    <div id="pn-mixed-cart-warning-text"></div>
  </div>
</div>