<script type="text/javascript">
  {% if cart %}
    window.pn.cart = {};
  	window.pn.cart = {{cart | json}}
    window.pn.cart.items = [];

    {% for item in cart.items %}
      var cart_item = {{item | json}};
      cart_item["collection_ids"] = [];
      {% for c in item.product.collections %}
        cart_item["collection_ids"].push({{c.id}})
        {% endfor %}
      window.pn.cart.items.push(cart_item);
    {% endfor %}

    if (typeof window.pn.cart.items == "object") {
      for (var i=0; i<window.pn.cart.items.length; i++) {
        ["sku", "vendor", "url", "image", "handle", "product_type", "product_description"].map(function(a) {
          delete window.pn.cart.items[i][a]
        })
      }
    }
  {% endif %}
</script>

{% raw %}
<script>
if(typeof pn === "undefined"){
  pn = {};
}
if(typeof pn.settings === "undefined"){
  pn.settings = {};
}
pn.settings.defaultSetting={"id":14974139,"a":"Preorder Now","b":true,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"\u003cp class='font-bolder uppercase'\u003eStock Delivery Date\u003c/p\u003e\u003cp class=\"small-p\"\u003eExpected customer delivery on or before the 27th of April.\u003c/p\u003e","h":"below","i":false,"j":null,"k":null,"l":null,"m":"default","n":null,"o":true,"handle":null,"p":null,"y":null,"q":true,"r":true,"s":null,"t":null,"u":2,"v":false,"w":"ribbon","tag":null,"x":null,"z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0"};
pn.settings.singleProductSettings=[{"id":15559604,"a":"Preorder Now","b":true,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"\u003cp class='font-bolder uppercase'\u003eStock Delivery Date\u003c/p\u003e\u003cp class=\"small-p\"\u003eExpected customer delivery on or before the 27th of April.\u003c/p\u003e","h":"below","i":false,"j":null,"k":null,"l":null,"m":"variant","n":"39330079637637","o":false,"handle":"hornit-airo-orca-white-1","p":"6556314435717","y":"https://cdn.shopify.com/s/files/1/0335/8801/9333/products/2_Side_58c5983b-0553-446a-8d05-0bbb033b1cb5.jpg?v=1619429910","q":true,"r":true,"s":99,"t":null,"u":2,"v":false,"w":"ribbon","tag":null,"x":"","z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0"},{"id":15559621,"a":"Preorder Now","b":true,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"\u003cp class='font-bolder uppercase'\u003eStock Delivery Date\u003c/p\u003e\u003cp class=\"small-p\"\u003eExpected customer delivery on or before the 27th of April.\u003c/p\u003e","h":"below","i":false,"j":null,"k":null,"l":null,"m":"variant","n":"39330082947205","o":false,"handle":"hornit-airo-flamingo-pink","p":"6556315156613","y":"https://cdn.shopify.com/s/files/1/0335/8801/9333/products/2_SideNEWcolour_9176bcd8-fcab-44ae-852c-9193c707be65.jpg?v=1619434243","q":true,"r":true,"s":77,"t":null,"u":2,"v":false,"w":"ribbon","tag":null,"x":"","z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0"},{"id":15559619,"a":"Preorder Now","b":true,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"\u003cp class='font-bolder uppercase'\u003eStock Delivery Date\u003c/p\u003e\u003cp class=\"small-p\"\u003eExpected customer delivery on or before the 27th of April.\u003c/p\u003e","h":"below","i":false,"j":null,"k":null,"l":null,"m":"variant","n":"39330082226309","o":false,"handle":"hornit-airo-hammer-yellow-1","p":"6556315025541","y":"https://cdn.shopify.com/s/files/1/0335/8801/9333/products/2_Side.jpg?v=1619003972","q":true,"r":true,"s":114,"t":null,"u":2,"v":true,"w":"ribbon","tag":null,"x":"","z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0"},{"id":15559610,"a":"Preorder Now","b":true,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"\u003cp class='font-bolder uppercase'\u003eStock Delivery Date\u003c/p\u003e\u003cp class=\"small-p\"\u003eExpected customer delivery on or before the 27th of April.\u003c/p\u003e","h":"below","i":false,"j":null,"k":null,"l":null,"m":"variant","n":"39330080292997","o":false,"handle":"hornit-airo-mavericks-blue","p":"6556314599557","y":"https://cdn.shopify.com/s/files/1/0335/8801/9333/products/newcolourblue_69129a38-f3bd-4b94-9430-d8ca5544e4e5.jpg?v=1619434306","q":true,"r":true,"s":108,"t":null,"u":2,"v":false,"w":"ribbon","tag":null,"x":"","z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0"},{"id":15559596,"a":"Preorder Now","b":true,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"\u003cp class='font-bolder uppercase'\u003eStock Delivery Date\u003c/p\u003e\u003cp class=\"small-p\"\u003eExpected customer delivery on or before the 27th of April.\u003c/p\u003e","h":"below","i":false,"j":null,"k":null,"l":null,"m":"variant","n":"39330078982277","o":false,"handle":"hornit-airo-tuvalu-turquoise","p":"6556314271877","y":"https://cdn.shopify.com/s/files/1/0335/8801/9333/products/2_SideNEWcolour_86bbf4ea-f1d8-4b63-8f10-a31e6e3980be.png?v=1619187938","q":true,"r":true,"s":39,"t":null,"u":2,"v":false,"w":"ribbon","tag":null,"x":"","z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0"},{"id":15559617,"a":"Preorder Now","b":true,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"\u003cp class='font-bolder uppercase'\u003eStock Delivery Date\u003c/p\u003e\u003cp class=\"small-p\"\u003eExpected customer delivery on or before the 27th of April.\u003c/p\u003e","h":"below","i":false,"j":null,"k":null,"l":null,"m":"variant","n":"39330080751749","o":false,"handle":"hornit-airo-magma-red","p":"6556314697861","y":"https://cdn.shopify.com/s/files/1/0335/8801/9333/products/newcolour_3c0df820-6b39-49f0-8b7e-b6f1bbaf028b.jpg?v=1619434294","q":true,"r":true,"s":134,"t":null,"u":2,"v":false,"w":"ribbon","tag":null,"x":"","z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0"}];
pn.settings.tagSettings=[];
</script>
<style type="text/css">
  .pn-original-subtotal{
    text-decoration: line-through;
    display:inline-block;
  }
  .pn-discounted-subtotal{
    font-weight:bold;
    margin-left:20px;
    display:inline-block;
    font-size: 1.3em;
  }

  .pn-line-item-original-price {
    text-decoration: line-through;
  }

  .pn-line-item-discounted-price {
    font-size: 1.2em;
    margin-left: 8px;
  }
</style>
{% endraw %}


<div id="pn-mixed-cart-warning" class="pn-modal">
  <div id="pn-mixed-cart-warning-content">
    <span id="pn-modal-close-btn">x</span>
    <h2 id="pn-mixed-cart-warning-title"></h2>
    <div id="pn-mixed-cart-warning-text"></div>
  </div>
</div>