{% schema %}

{
    "name": "Video Library",
    "settings": [
        {
            "type": "text",
            "id": "title_top",
            "label": "Heading",
            "default": "Custom content"
        }
    ],
    "blocks": [
        {
            "type": "video",
            "name": "Video",
            "settings": [
                {
                    "id": "video_id",
                    "type": "text",
                    "label": "Video ID",
                    "placeholder": "Video ID to link to section"
                }, {
                    "id": "video_title",
                    "type": "text",
                    "label": "Title",
                    "placeholder": "Video Title"
                }, {
                    "id": "video_desc",
                    "type": "textarea",
                    "label": "Text Description"
                }, {
                    "id": "video_url",
                    "type": "video_url",
                    "label": "Video URL",
                    "accept": [
                        "youtube",
                        "vimeo"
                    ],
                    "default": "https://youtu.be/o0HGtxPc454",
                    "info": "Text",
                    "placeholder": "Add your video link here"
                }
            ]
        }, {
            "type": "header",
            "name": "Page Header",
            "settings": [
                {
                    "id": "header_image",
                    "type": "image_picker",
                    "label": "Background Image"
                }, {
                    "id": "header_title",
                    "type": "text",
                    "label": "Title",
                    "placeholder": "Slide Title"
                }, {
                    "id": "header_content",
                    "type": "textarea",
                    "label": "Slide Content"
                }, {
                    "id": "header_button_url",
                    "type": "url",
                    "label": "Button URL"
                }, {
                    "id": "header_button_text",
                    "type": "text",
                    "label": "Button Text",
                    "placeholder": "Shop Now",
                    "info": "Defaults to \"Shop Now\""
                }
            ]
        }
    ]
}

{% endschema %}


<div class="master-collection-full">

	{% for block in section.blocks %}

		{% case block.type %}

            {% when 'header' %}
            
            {% if block.settings.header_image != blank %}
            <div class="collection-header">


                <img data-src="{{ block.settings.header_image | img_url: 'master' }}" alt="{{ block.settings.header_image.alt }}" class="lazyload"/>

                <div class="collection-header-content">
                    <h3 class="white uppercase">{{ block.settings.header_title }}</h3>

                    {% if block.settings.header_content != blank %}
                        <p class="white">{{ block.settings.header_content }}</p>
                    {% endif %}

                    {% if block.settings.header_button_url != blank %}
                        <a href="{{ block.settings.header_button_url }}" class="block-button">
                            {% if block.settings.header_button_text != blank %}
                                {{ block.settings.header_button_text }}
                            {% else %}
                                {{ "general.shop.shop_now" | t }}
                            {% endif %}
                        </a>
                    {% endif %}

                </div>

            </div>

        {% else %}


            <div class="no-header_content">
                <h3 class="uppercase">{{ block.settings.header_title }}</h3>

                {% if block.settings.header_content != blank %}
                    <p>{{ block.settings.header_content }}</p>
                {% endif %}

                {% if block.settings.header_button_url != blank %}
                    <a href="{{ block.settings.header_button_url }}" class="block-button">
                        {% if block.settings.header_button_text != blank %}
                            {{ block.settings.header_button_text }}
                        {% else %}
                            {{ "general.shop.shop_now" | t }}
                        {% endif %}
                    </a>
                {% endif %}

            </div>

        {% endif %}




			{% when 'video' %}


				<section class="video-library-section" id='{{ block.settings.video_id }}'>
					<div class="video-inner">


						<div class="video-library-item">
							<iframe data-src="{{ block.settings.video_url }}?loop=1&autopause=0" class="lazyload" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>

						<div class="title-section">
							<h3 class="uppercase">{{ block.settings.video_title }}</h3>
							<p class="p-fade">{{ block.settings.video_desc }}
							</p>
						</div>


					</div>
				</section>


		{% endcase %}
	{% endfor %}

</div></div>
